# Python
**/__pycache__/
.python-version

# Indexing stuff
ui_football_clothing/football-clothing-index/

# Migration files for DB
ui_football_clothing/ui_football_clothing/migrations/

# Local DB
db.sqlite3

# Local data storage files
*.csv
*.json

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz