{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <h1>Football Clothing</h1>

    <form method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">

        <label for="search_item">Category:</label>
        <select id="search_item" name="search_item">
            <option value="">All</option>
            <option value="top">Tops</option>
            <option value="shirt">Shirts</option>
            <option value="glove">Gloves</option>
            <option value="trouser">Trousers</option>
            <option value="short">Shorts</option>
            <option value="sock">Socks</option>
        </select>



        <label for="search_brand">Brand:</label>
        <select id="search_brand" name="search_brand">
            <option value="">Any</option>
            <option value="adidas">Adidas</option>
            <option value="nike">Nike</option>
            <option value="puma">Puma</option>
            <option value="kipsta">Kipsta</option>
            <option value="umbro">Umbro</option>
            <option value="castore">Castore</option>
            <option value="imviso">Imviso</option>
        </select>


        <label for="search_price">Price Range:</label>
        <select id="search_price" name="search_price">
            <option value="">Any</option>
            <option value="0-20">0 CHF - 20 CHF</option>
            <option value="21-50">21 CHF - 50 CHF</option>
            <option value="51-100">51 CHF - 100 CHF</option>
            <option value="101-max">100 CHF - max</option>
        </select>


        <button type="submit">Apply Filters</button>
    </form>


    {% if data %}
    {% for item in data %}
    <div class="clothing-item">
        <img src="{{ item.image }}" alt="{{ item.title }}">
        <h2>{{ item.title }}</h2>
        <p>{{ item.data }}</p>
        <p>Price: {{ item.price }} CHF</p>
        <a href="https://{{ item.url }}" target="_blank">View Details</a>
    </div>

    {% endfor %}
    {% endif %}

</body>

</html>