{% load static %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <button onclick="toggleDarkMode(true)">Toggle Dark Mode</button>

    <h1>Football Clothing</h1>

    <form method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">

        <label for="search_item">Category:</label>
        <select id="search_item" name="search_item">
            <option value="">All</option>
            <option value="top">Tops</option>
            <option value="shirt">Shirts</option>
            <option value="glove">Gloves</option>
            <option value="trouser">Trousers</option>
            <option value="short">Shorts</option>
            <option value="sock">Socks</option>
        </select>



        <label for="search_brand">Brand:</label>
        <select id="search_brand" name="search_brand">
            <option value="">Any</option>
            <option value="adidas">Adidas</option>
            <option value="nike">Nike</option>
            <option value="puma">Puma</option>
            <option value="kipsta">Kipsta</option>
            <option value="umbro">Umbro</option>
            <option value="castore">Castore</option>
            <option value="imviso">Imviso</option>
        </select>


        <label for="search_price">Price Range:</label>
        <select id="search_price" name="search_price">
            <option value="">Any</option>
            <option value="0-20">0 CHF - 20 CHF</option>
            <option value="21-50">21 CHF - 50 CHF</option>
            <option value="51-100">51 CHF - 100 CHF</option>
            <option value="101-max">100 CHF - max</option>
        </select>


        <label for="number_results">Number of Results per Page:</label>
        <select id="number_results" name="number_results">
            <option value=25>25</option>
            <option value=50>50</option>
            <option value=100>100</option>
        </select>


        <br>
        <br>
        <button type="submit">Apply Filters</button>
    </form>

    {{ data|json_script:"data" }}

    <script>
        // JavaScript for toggling dark mode
        const body = document.body;
        const h1s = document.getElementsByTagName('h1');
        const h2s = document.getElementsByTagName('h2');

        
        var is_dark_mode = localStorage.getItem('is_dark_mode') == 1;
        if (is_dark_mode){
            toggleDarkMode();
        }
        function toggleDarkMode(is_clicked) {
            if (is_clicked){

                if(localStorage.getItem('is_dark_mode') == 1){
                    localStorage.setItem("is_dark_mode", 0);
                } else{
                    localStorage.setItem("is_dark_mode", 1);
                }
            }
            for (let i = 0; i < h2s.length; i++) {
                h2s[i].classList.toggle('dark-mode');
            }
            h1s[0].classList.toggle('dark-mode');
            body.classList.toggle('dark-mode');
        }
        

        // JavaScript for loading the items
        var data = JSON.parse(document.getElementById('data').textContent);
        data = JSON.parse(data); // This is needed twice for some reason

        var number_results = parseInt('{{ number_results|escapejs }}');
                    
        // hier fix the no change color probl after <br>
        for (let i = 0; (i < number_results) && (i < data.length); i++) {
            document.write(`
            <div class="clothing-item">
                

                    <img src="${data[i].image}" alt="${data[i].title}" height="256" width="256">
                    <br>
                    
                    ${data[i].title.substring(0, 30)}...
                    <p>${data[i].data}</p>
                    <p>Price: ${data[i].price} CHF</p>
                <a href="/item/?id=${data[i].id}" target="_blank">View Details</a>
            </div>
            `);
        }

        var start_index = number_results;

        if (start_index < data.length) {
            document.write(`
            <button id="next-page" style="display: block;" onclick="loadMore()">Load More</button>
            `);
        }


        function loadMore() {
            let all_items = document.getElementsByClassName('clothing-item');
            let pos = 0;


            // hier fix the no change color probl after <br>
            for (let i = start_index; (i < start_index + number_results) && (i < data.length); i++) {
                all_items[pos].innerHTML = `

                <img src="${data[i].image}" alt="${data[i].title}" height="256" width="256"> 
                <br>
                ${data[i].title.substring(0, 30)}...
                
                <p>${data[i].data}</p>
                <p>Price: ${data[i].price} CHF</p>
                
                <a href="/item/?id=${data[i].id}" target="_blank">View Details</a>
                `;
                pos++;
            }
            start_index += number_results;

            var next_page_button = document.getElementById('next-page');
            if (start_index >= data.length) {
                next_page_button.style.display = 'none';
            }
        }

    </script>



</body>

</html>