{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <h1>Football Clothing</h1>
    <form method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Search</button>
    </form>


    <h2>Filter by Category:</h2>
    <form method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <label for="search">Category:</label>
        <select id="search" name="search">
            <option value="">All</option>
            <option value="tops top">Tops</option>
            <option value="shirts shirt">Shirts</option>
            <option value="gloves glove">Gloves</option>
            <option value="trousers trouser">Trousers</option>
        </select>
        <button type="submit">Apply Filters</button>
    </form>


    {% if data %}
    {% for item in data %}

    <div class="clothing-item">
        <img src="{{ item.image }}" alt="{{ item.title }}">
        <h2>{{ item.title }}</h2>
        <p>{{ item.data }}</p>
        <p>Price: {{ item.price }} CHF</p>
        <a href="https://{{ item.url }}" target="_blank">View Details</a>
    </div>

    {% endfor %}
    {% endif %}


    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

</body>

</html>